node_modules/
dist/
build/

.env
.env.local
*.env

serviceAccountKey.json
firebase-adminsdk*.json
google-services.json

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

.DS_Store
.idea/
.vscode/